.searchDiv {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.searchBox {
    border: 1px solid #e3e5e8;
    padding: 5px;
    width: 210px;
    margin-right: 5px;
}

.searchButton {
    padding: 7px;
    background-color: #3D87F5;
    color: white;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}

.feedStudies {
    padding: 20px 16px 0px;
}

.card {
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    padding: 2px 16px;
    margin-bottom: 15px;
}

.card:hover {
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.2);
}

.studyLink {
    color: #3D87F5;
}

.studyLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.feedButton {
    background-color: #3D87F5;
    color: white;
    text-align: center;
    padding: 1px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

.filterContainer {
    background-color: #FCFCFC;
    padding: 10px;
    border: 1px solid #3D87F5;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.checkbox label, input {
    display: inline-block;
    vertical-align: middle;
}

.checkbox input {
    margin-right: 5px;
}

.dateFilter {
    margin-bottom: 5px;
}

.dateFilter label, input {
    display: inline-block;
    vertical-align: middle;
}

.dateFilter label {
    margin-right: 5px;
}

.pagination {
    display: block;
}

.pagination p {
    text-align: center;
    padding: 8px 16px;
}

.prevBtn {
    float: left;
}

.nextBtn {
    float: right;
}